#u0_img {
    margin-left: 70px;
    width: 1000px;
    height: 100px
}

#u1 {
    padding-top: 10px;
    display: inline-block;
    font-size: 30px;
}

#u2 {
    display: inline-block;
    margin-left: 20px;
}

#u2_input {
    width: 400px;
}

#u3 {
    display: inline-block;
    margin-left: 20px;
}

#u4 {
    display: inline-block;
    margin-left: 10px;
}


.checkbox {
    width: 20px;
}

button {
    width: 140px;
    height: 40px;
    background-color: #4646ce;
    border: 0px;
}

table {
    border: 1px solid black;
    margin-left: 20%;
}

td {
    border: 1px solid black;;
}

.layui-table-cell {

    height: 100px;
    line-height: 100px;

}

/*表头高度*/
th .layui-table-cell {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
