#u0_img {
    margin-left: 10%;
    /*width: 1000px;*/
    width: 80%;
   /*height: 100px*/
}

#u1 {
    padding-top: 2%;
    display: inline-block;
    font-size: 30px;
}

#u2 {
    display: inline-block;
    margin-left: 2%;
    width: 35%;
}

#u2_input {

}
#u3 {
    display: inline-block;
    margin-left: 2%;
}

#u4 {
    display: inline-block;
    margin-left: 1%;
}


.checkbox {
    width: 1%;
}

button {
    width: 140px;
    height: 40px;
    background-color: #4646ce;
    border: 0px;
}

table {
    border: 1px solid black;
    margin-left: 20%;
}

td {
    border: 1px solid black;;
}

.layui-table-cell {

    height: 100px;
    line-height: 100px;

}

/*表头高度*/
th .layui-table-cell {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
